<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ArticleMapper">

    <insert id="addArticle" parameterType="Article">
		insert into t_article
		(id, title, content, markdown, author, isDelete, readNumber, praiseNumber, browseNumber, addTime, updateTime)
		values
		(#{id}, #{title}, #{content}, #{markdown}, #{author}, #{isDelete}, #{readNumber}, #{praiseNumber}, #{browseNumber}, #{addTime}, #{updateTime})
	</insert>

    <update id="modifyArticle" parameterType="Article">
        update t_article set

        <trim suffixOverrides=",">
            <if test="title != null">
                title = #{title} ,
            </if>
            <if test="content != null">
                content = #{content} ,
            </if>
            <if test="author != null">
                 author = #{author} ,
            </if>
            <if test="isDelete != null">
                 isDelete = #{isDelete} ,
            </if>
            <if test="markdown != null">
                markdown = #{markdown} ,
            </if>
            <if test="readNumber != null">
                 readNumber = #{readNumber} ,
            </if>
            <if test="praiseNumber != null">
                 praiseNumber = #{praiseNumber} ,
            </if>
            <if test="browseNumber != null">
                 browseNumber = #{browseNumber} ,
            </if>
            <if test="updateTime != null">
                 updateTime = #{updateTime} ,
            </if>
        </trim>
        where id = #{id}
    </update>

    <select id="getArticleList" parameterType="Article" resultType="Article">
		select * from t_article
	</select>

    <select id="getArticle" parameterType="Article" resultType="Article">
		select * from t_article where id = #{id}
	</select>
</mapper>